# Build results
bin/
obj/
out/

# Visual Studio / Rider files
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Rider
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment / secrets
*.env
appsettings.Development.json
appsettings.local.json

# Node / frontend
node_modules/
dist/
dist-ssr/
